
  <aside class="col-md-3">
    <h2 class="text-left"><%= link_to 'Home', root_path%> >> <%= @category ? @category.name : '' %></h2>
    <section class="user_info">
    <% @categories.each do |category| %>
      <h1><%= link_to category.name, products_path(category: category.id) %></h1>
    <% end %>
    </section>
  </aside>